body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
    font-family: 'Georgia';
}

.container {
    display: flex;
    height: 100%;
}

.left-column {
    width: 80%; /* Définir une largeur initiale pour la colonne gauche */
    height: 100%;
    background-color: #f0f0f0; /* Couleur de fond pour la colonne gauche */
}

.right-column {
    width: 20%; /* Définir une largeur initiale pour la colonne droite */
    height: 100%;
    white-space: nowrap;
    background-color: #d0d0d0; /* Couleur de fond pour la colonne droite */
    padding-left: 20px;
}



.full-screen-image {
    width: 100%;
    height: 100%;
    object-fit: cover; /* L'image couvre toute la surface en conservant les proportions */
}

.bottom-right {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    gap: 5px;
}

.layer-control {
    position: absolute;
    bottom: 20px;
    left: 10px;
    background: white;
    padding: 10px;
    border: 1px solid #ccc;
    z-index: 100;
    opacity: 75%;
}

#prevButton, #nextButton, #current_event {
    display: inline-block; /* Permet à ces éléments de rester sur la même ligne */
    vertical-align: text-bottom; /* Aligne verticalement au milieu */
}
.text-blue {
    color: blue; /* Couleur bleue pour le texte */
}

.text-red {
    color: red; /* Couleur rouge pour le texte */
}

.text-green {
    color: green; /* Couleur verte pour le texte */
}
.text-orange{
    color: orange;
}

.texte_rouge {
    color: red; 
}
.Téléphone {
    color: rgb(180, 177, 6); 
}
.FAX {
    color: rgb(255, 102, 0); 
}
.texte_vert {
    color: green; /* text4 sera en vert */
}
.message-text {
    color: black; /* Le texte du message reste noir */
}
#textMessage {
    max-width: 275px; /* Ajuste cette largeur selon tes besoins */
    word-wrap: break-word; /* Permet le retour à la ligne */
    overflow-wrap: break-word; /* Assure le retour à la ligne pour les mots longs */
    white-space: normal; /* Permet au texte de s'enrouler */
    margin: 10px 0; /* Ajoute un espacement */
    line-height: 1.5; /* Améliore la lisibilité */
}
